<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- .docx için ACTION_VIEW, ACTION_EDIT, ACTION_PICK -->
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="*" android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:scheme="file" android:host="*" android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:scheme="content" android:host="*" android:mimeType="application/octet-stream" />
                <data android:scheme="file" android:host="*" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*" />
            </intent-filter>
            <!-- .docx için pathPattern ile özel eşleşme -->
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.docx" android:mimeType="*/*" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.docx" android:mimeType="*/*" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\.docx" android:mimeType="*/*" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.docx" android:mimeType="*/*" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\..*\\.docx" android:mimeType="*/*" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.docx" android:mimeType="*/*" />
            </intent-filter>
            <!-- .docx için ACTION_OPEN_DOCUMENT -->
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- .docx için ACTION_GET_CONTENT -->
            <intent-filter android:priority="50">
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>
</manifest>